<article{{ attributes }}>

  <div class="wrapper">
    <button class="close" aria-label="Close">
      <svg viewBox="0 0 320 320" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-miterlimit="10">
        <path d="M307.047 307.047L12.953 12.953m0 294.142L307.047 13" fill="none" stroke="#000" stroke-width="21"/>
      </svg>
    </button>
    <div class="content">
      {{ content }}
    </div>
  </div>

</article>
